<html>
<head>
    {% load staticfiles %}
    <link rel = "stylesheet" href="{% static 'Account/style/main.css' %}">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/13.1.4/nouislider.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/13.1.4/nouislider.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.1.0/wNumb.min.js"></script>
</head>
<body>

{% block topbar %} {% include 'Account/topbar.html' %} {% endblock %}
{% block sidebar %} {% include 'Account/sidebar.html' %} {% endblock %}

<center><h3>Просмотр снимка</h3></center>

<div class = "row">
  <div class = "col s12 m4 l2"></div>
  <div class = "col s12 m4 l8">
  <p><b>Patient ID: </b> {{ series.patient_id }}</p>
  <p><b>Study ID: </b> {{ series.study_uid }}</p>
  <p><b>Series ID: </b> {{ series.series_uid }}</p>

  <ul class="collapsible">
      <li>
        <div class="collapsible-header"><i class="material-icons">info</i> </b> Расширенная информация </div>
          <div class="collapsible-body">
              <p><b>BitsAllocated: </b> {{ series.BitsAllocated }}</p>
              <p><b>BitsStored: </b> {{ series.BitsStored }}</p>
              <p><b>Columns: </b> {{ series.Columns }}</p>
              <p><b>Rows: </b> {{ series.Rows }}</p>
              <p><b>HighBit: </b> {{ series.HighBit }}</p>
              <p><b>InStackPositionNumber: </b> {{ series.InStackPositionNumber }}</p>
              <p><b>PixelRepresentation: </b> {{ series.PixelRepresentation }}</p>
              <p><b>SamplesPerPixel: </b> {{ series.SamplesPerPixel }}</p>
              <p><b>TemporalPositionIndex: </b> {{ series.TemporalPositionIndex }}</p>
              <p><b>AccessionNumber: </b> {{ series.AccessionNumber }}</p>
              <p><b>AcquisitionDate: </b> {{ series.AcquisitionDate }}</p>
              <p><b>AcquisitionDateTime: </b> {{ series.AcquisitionDateTime }}</p>
              <p><b>AcquisitionTime: </b> {{ series.AcquisitionTime }}</p>
              <p><b>ContentDate: </b> {{ series.ContentDate }}</p>
              <p><b>ContentTime: </b> {{ series.ContentTime }}</p>
              <p><b>ConvolutionKernel: </b> {{ series.ConvolutionKernel }}</p>
              <p><b>DerivationDescription: </b> {{ series.DerivationDescription }}</p>
              <p><b>DeviceSerialNumber: </b> {{ series.DeviceSerialNumber }}</p>
              <p><b>ExposureModulationType: </b> {{ series.ExposureModulationType }}</p>
              <p><b>FilterType: </b> {{ series.FilterType }}</p>
              <p><b>InstitutionAddress: </b> {{ series.InstitutionAddress }}</p>
              <p><b>InstitutionName: </b> {{ series.InstitutionName }}</p>
              <p><b>InstitutionalDepartmentName: </b> {{ series.InstitutionalDepartmentName }}</p>
              <p><b>IssuerOfPatientID: </b> {{ series.IssuerOfPatientID }}</p>
              <p><b>Manufacturer: </b> {{ series.Manufacturer }}</p>
              <p><b>ManufacturerModelName: </b> {{ series.ManufacturerModelName }}</p>
              <p><b>Modality: </b> {{ series.Modality }}</p>
              <p><b>PatientAge: </b> {{ series.PatientAge }}</p>
              <p><b>PatientBirthDate: </b> {{ series.PatientBirthDate }}</p>
              <p><b>PatientID: </b> {{ series.PatientID }}</p>
              <p><b>PatientPosition: </b> {{ series.PatientPosition }}</p>
              <p><b>PatientSex: </b> {{ series.PatientSex }}</p>
              <p><b>PerformedProcedureStepID: </b> {{ series.PerformedProcedureStepID }}</p>
              <p><b>PerformedProcedureStepStartDate: </b> {{ series.PerformedProcedureStepStartDate }}</p>
              <p><b>PerformedProcedureStepStartTime: </b> {{ series.PerformedProcedureStepStartTime }}</p>
              <p><b>PhotometricInterpretation: </b> {{ series.PhotometricInterpretation }}</p>
              <p><b>ProtocolName: </b> {{ series.ProtocolName }}</p>
              <p><b>RetrieveAETitle: </b> {{ series.RetrieveAETitle }}</p>
              <p><b>RotationDirection: </b> {{ series.RotationDirection }}</p>
              <p><b>ScanOptions: </b> {{ series.ScanOptions }}</p>
              <p><b>ScheduledProcedureStepEndDate: </b> {{ series.ScheduledProcedureStepEndDate }}</p>
              <p><b>ScheduledProcedureStepEndTime: </b> {{ series.ScheduledProcedureStepEndTime }}</p>
              <p><b>ScheduledProcedureStepStartDate: </b> {{ series.ScheduledProcedureStepStartDate }}</p>
              <p><b>ScheduledProcedureStepStartTime: </b> {{ series.ScheduledProcedureStepStartTime }}</p>
              <p><b>SeriesDate: </b> {{ series.SeriesDatec }}</p>
              <p><b>SeriesDescription: </b> {{ series.SeriesDescription }}</p>
              <p><b>SeriesTime: </b> {{ series.SeriesTime }}</p>
              <p><b>SoftwareVersions: </b> {{ series.SoftwareVersions }}</p>
              <p><b>SpecificCharacterSet: </b> {{ series.SpecificCharacterSet }}</p>
              <p><b>StackID: </b> {{ series.StackID }}</p>
              <p><b>StationAETitle: </b> {{ series.StationAETitle }}</p>
              <p><b>StationName: </b> {{ series.StationName }}</p>
              <p><b>StudyDate: </b> {{ series.StudyDate }}</p>
              <p><b>StudyID: </b> {{ series.StudyID }}</p>
              <p><b>StudyStatusID: </b> {{ series.StudyStatusID }}</p>
              <p><b>StudyTime: </b> {{ series.StudyTime }}</p>
        </div>
      </li>
  </ul>
  </div>
  <div class = "col s12 m4 l2"></div>
</div>
<br /> <br /> 
<center>
  <div><span id="imageCounter">1</span>/{{ voxels.shape.2 }}</div>
  <img id="imageBox" src="#"><br/>
  <br /> <br />

  <div style = "width: 40%">
    <div id="slice-slider"></div>
  </div>
  <br />
  <a class="waves-effect waves-light btn" onclick="previous();return false;"><i class = "material-icons left">arrow_back</i> Назад </a>
  <a class="waves-effect waves-light btn" onclick="next();return false;"><i class = "material-icons right">arrow_forward</i> Вперед </a>
</center>
<br />

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems);
    });            
</script>

  <script>
    var imageCounter = 0;
    var slider = document.getElementById('slice-slider');
    noUiSlider.create(slider, {
      start: [1,],
      tooltips: true,
      step: 1,
      orientation: 'horizontal', // 'horizontal' or 'vertical'
      range: {
        'min': 0,
        'max': {{ voxels.shape }},
      },
      format: wNumb({
        decimals: 0
      }),
    });

    slider.addEventListener('click', function () {
      getSlice(slider.noUiSlider.get());
    });
  </script>

  <script>
    document.getElementById("imageBox").src = '/media/images/{{ series.media_path }}/0.png';

    function previous() {
      imageCounter--;
      if(imageCounter < 0) {
        imageCounter = {{ voxels.shape.2|add:"-1" }};
      }
      document.getElementById("imageCounter").innerHTML = imageCounter+1;
      document.getElementById("imageBox").src = '/media/images/{{ series.media_path }}/' + imageCounter + '.png';
    }

    function next() {
        imageCounter++;
        if(imageCounter >= {{ voxels.shape.2 }}) {
          imageCounter = 0;
        }
        document.getElementById("imageCounter").innerHTML = imageCounter+1;
        document.getElementById("imageBox").src = '/media/images/{{ series.media_path }}/' + imageCounter + '.png';

        slider.noUiSlider.updateOptions({
          start: imageCounter + 1,
        });
    }

    function getSlice(image_id) {
      if(image_id >= {{ voxels.shape.2 }}) {
        image_id = 0;
      }
      if(image_id < 0) {
        image_id = {{ voxels.shape.2|add:"-1" }};
      }
      imageCounter = image_id;
      document.getElementById("imageCounter").innerHTML = image_id;
      document.getElementById("imageBox").src = '/media/images/{{ series.media_path }}/' + image_id + '.png';
    }

  </script>

  <!-- <script src = "{% static 'Slicer/js/viewer.js' %}"> </script> -->
</body>
</html>