<html>

<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'Account/style/main.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/sweetalert2@7.17.0/dist/sweetalert2.all.js"></script>
</head>

<body>
    {% block topbar %} {% include 'Account/topbar.html' %} {% endblock %}
    {% block sidebar %} {% include 'Account/sidebar.html' %} {% endblock %}

    <div class="row">
        <div class="col s4 .hide-on-small-only"></div>
        <div class="col s12 m4">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="https://visualpharm.com/assets/30/User-595b40b85ba036ed117da56f.svg">
                    <a class="btn-floating halfway-fab waves-effect waves-light red" style="margin-bottom: 5%;"><i
                            class="material-icons">edit</i></a>
                </div>
                <div class="card-content">
                    <p><b>Имя: </b> {{ user.name }}</p>
                    <p><b>Фамилия: </b> {{ user.surname }}</p>
                    <p><b>Почта: </b> {{ user.mail }}</p>
                </div>
                <div class="card-action">
                    <a href="#" onclick="sendFeedbackForm()">Написать в поддержку</a>
                </div>
            </div>
        </div>
    </div>
    {% csrf_token %}
    <script src = "{% static 'Account/js/send_feedback.js' %}"> </script>

    {% block footer %} {% include 'Account/footer.html' %} {% endblock %}
</body>

</html>