<html>
    <head>
        {% load staticfiles %}
        <link rel = "stylesheet" href="{% static 'Account/style/main.css' %}">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>  
    </head>
    <body>
        {% block topbar %} {% include 'Account/topbar.html' %} {% endblock %}
        {% block sidebar %} {% include 'Account/sidebar.html' %} {% endblock %}

        <center><h3> Просмотр снимков </h3></center>

        <ul class="collapsible">
            {% for d in data %}
                <li>
			        <div class="collapsible-header"><i class="material-icons">local_see</i><b>{{d.id}}. </b> {{ d.series.series_uid }} </div>
                    <div class="collapsible-body">
                        <p><b>Slices: </b> {{ d.voxels.shape.2 }} </p>
                        <p><b>Patient ID: </b> {{ d.series.patient_id }} </p>
                        <p><b>Study ID: </b> {{d.series.study_uid}} </p>
                        <!-- <p><b>Слои:</b> {{ r.snapshots }}</p>-->
                        <img src = '/media/images/{{ d.series.media_path }}/{% widthratio d.voxels.shape.2 2 1 %}.png' />
                        <br /><br /><a href = "/series/view?id={{d.series.id}}">Полный просмотр</a>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.collapsible');
                var instances = M.Collapsible.init(elems);
            });            
        </script>
    </body>
</html>
